@model IEnumerable<PetSitter.ViewModels.SitterVM>

@{
    ViewData["Title"] = "Find A Sitter";
}

<h1>Find a Sitter</h1>

@foreach (var item in Model)
{
    <section class="find-a-sitter-section">
        <div class="name-rate">
            <h2>@Html.DisplayFor(modelItem => item.FirstName)</h2>
            <span><span class="price">$@Html.DisplayFor(modelItem => item.Rate)</span> per day</span>
        </div>
        <div class="rating">
            <span class="@IsStarSelected(1, @item.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(2, @item.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(3, @item.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(4, @item.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(5, @item.AvgRating)">&#9733;</span>
        </div>
        <div>@Html.DisplayFor(modelItem => item.ProfileBio)</div>
        <div class="more-info-link">
            <a asp-action="SitterDetails" asp-route-sitterID="@item.SitterId">More Info</a>
        </div>
    </section>
    <hr/>
}

@functions {
    public string IsStarSelected(int star, double? rating)
    {
        if(star <= rating)
        {
            return "highlight";
        } else
        {
            return "no-highlight";
        }
    }
}