@model PetSitter.ViewModels.SitterVM

@{
    ViewData["Title"] = "SitterDetail";
}
<main class="sitter-detail">
    <a asp-action="FindASitter">Back to List</a>
    <div class="profile">
        <h1>@Html.DisplayFor(model => model.FirstName)</h1>
        <div class="rating">
            <span class="@IsStarSelected(1, @Model.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(2, @Model.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(3, @Model.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(4, @Model.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(5, @Model.AvgRating)">&#9733;</span>
        </div>
        <div>
            <span class="price">$@Html.DisplayFor(model => model.Rate)</span> per day
        </div>
        <div>
            <a asp-action="Book" asp-route-sitterID="@Model.SitterId">Book with @Html.DisplayFor(model => model.FirstName)</a>
        </div>
        <div>
            @Html.DisplayFor(model => model.ProfileBio)
        </div>
    </div>
    <div class="reviews">
        <h2>Reviews</h2>
        @Html.DisplayFor(model => model.Reviews)
    </div>
</main>

@functions {
    public string IsStarSelected(int star, double? rating)
    {
        if (star <= rating)
        {
            return "highlight";
        }
        else
        {
            return "no-highlight";
        }
    }
}