@model PaginatedList<PetSitter.ViewModels.ReviewVM>

@{
    ViewData["Title"] = "SitterDetail";
}


@{
    byte[] profileImageBytes = ViewData["ProfileImage"] as byte[];
}

@{
    User user = ViewData["SitterProfileImg"] as User;
}


<main class="sitter-detail">
    <div class="mt-3 mb-3 back-to-profile flex align-items-center">
        <a asp-action="FindASitter" class="back-link">
            <span class="arrow"></span>
            <span class="text mt-2" style="font-weight: normal; font-size: 1em;">Back to Find a Sitter</span>
        </a>
    </div>
    <div class="profile text-center">
        @if (profileImageBytes != null)
        {
            <img src="data:image/png;base64, @Convert.ToBase64String(profileImageBytes)" alt="User Profile Image" class="img-fluid mx-auto d-block img-thumbnail sitter-image" />

        }
        else
        {
            <img src="~/Image/ImageUpload.png" alt="User Profile Image" class="img-fluid mx-auto d-block img-thumbnail sitter-image" />
        }

        <div class="details">
            <h1 class="mt-2">@ViewBag.FirstName</h1>
            <div class="text-uppercase" style="font-weight:bold;">
                @ViewBag.City
            </div>
      
        <div class="rating my-2">
            <span class="@IsStarSelected(1, @ViewBag.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(2, @ViewBag.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(3, @ViewBag.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(4, @ViewBag.AvgRating)">&#9733;</span>
            <span class="@IsStarSelected(5, @ViewBag.AvgRating)">&#9733;</span>
        </div>
        <div>
            <span class="price">@ViewBag.Rate</span> per day
        </div>
        <div>
                <a asp-action="Book" asp-route-sitterID="@ViewBag.SitterID" class="mt-2 mb-4 text-white mx-auto col-12 col-md-6 btn" style="background:#6366F1; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">Book with @ViewBag.FirstName</a>
        </div>
        <div>
            @ViewBag.ProfileBio
        </div>
        </div>
    </div>

    <hr class="mt-4">

    <div class="reviews">
        <h2>Reviews</h2>
       <div class="row">
           @if (Model.Count == 0)
            {
                <p>No Reviews Available.</p>
            }
            else{
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div style="display: flex; align-items: center;">
                                @if (item.profileImage == null)
                                {
                                                <div style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%; margin-right: 10px;"></div>
                                }
                                else
                                {
                                                <img style="width: 50px; height: 50px; border: 1px solid black; border-radius: 50%; margin-right: 10px;" src="data:image/png;base64,
                        @Convert.ToBase64String(item.profileImage)" alt="User Profile Image" />
                                }
                                <h5 class="card-title" style="margin: 0;">@Html.DisplayFor(modelItem => item.petParent)</h5>
                            </div>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.review)</p>
                            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.startDate) - @Html.DisplayFor(modelItem => item.endDate)</small></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= item.rating)
                                    {
                                                                <i class="fas fa-star text-warning"></i>
                                    }
                                    else
                                    {
                                                                <i class="far fa-star"></i>
                                    }
                                }
                            </small>
                        </div>
                    </div>
                </div>
            }
            }
</div>
    </div>
</main>

@functions {
    public string IsStarSelected(int star, double? rating)
    {
        if (star <= rating)
        {
            return "highlight";
        }
        else
        {
            return "no-highlight";
        }
    }
}



@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="SitterDetails"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-sitterID="@ViewBag.SitterID"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="SitterDetails"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-sitterID="@ViewBag.SitterID"
   class="btn btn-default @nextDisabled">
    Next
</a>
