@model PetSitter.ViewModels.SitterProfileVM

@{
    ViewData["Title"] = "Profile";

    string message = Model != null ? Model.Message : String.Empty;


}

@{

    User user = ViewData["UserProfileImg"] as User;
}
<div class="getprofile-container">

    <div class="profile-wrapper">
        <h2>Welcome @Html.DisplayFor(model => model.FirstName)!</h2>
        <h3>
            Explore your profile and click
            <a asp-action="EditProfile" asp-route-id="@Model.UserId">
                <span class="material-symbols-outlined">
                    HERE
                </span>
            </a>
            to edit your Profile!
        </h3>
    </div>

    <hr class="mt-4" />

    <div class="profile-container">
        <label asp-for="SitterId" class="control-label" hidden></label>
        <input asp-for="SitterId" class="form-control" hidden />
        <span asp-validation-for="SitterId" class="text-danger" read></span>
        <dl class="row">

            <dd class="col-sm-10">

                @if (user.ProfileImage == null)
                {
                    <p>No Profile Image Given, go edit profile link add your new Profile Image!</p>
                }
                else
                {
                    <div class="d-flex align-items-center w-100">
                        <img style="max-width: 400px;" src="data:image/png;base64,
                            @Convert.ToBase64String(user.ProfileImage)" alt="User Profile Image" />
                        <div>
                            @if (Model.ProfileBio != null)
                            {
                                <h3 class="text-decoration-underline">PROFILE BIO</h3>
                                <p>
                                    @Html.DisplayFor(model => model.ProfileBio)
                                </p>
                            }
                            else
                            {
                                <p>
                                    click here ->
                                    <a asp-action="EditProfile" asp-route-id="@Model.UserId">
                                        <span class="material-symbols-outlined">
                                            account_box
                                        </span>

                                    </a>
                                    and add your profile bio
                                </p>
                            }

                        </div>
                    </div>
                }


            </dd>




            <h3>CONTACT DETAILS</h3>
            <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">First Name</dt>
                    <dd>@Html.DisplayFor(model => model.FirstName)</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="mb-2">Last Name</dt>
                    <dd>@Html.DisplayFor(model => model.LastName)</dd>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">Email</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="mb-2">Phone Number</dt>
                    <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
                </div>
            </div>
            <hr class="mt-2" />

            <div class="row">
                <div class="col-sm-12">
                    <h3>POSTAL ADDRESS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <dt class="mb-2">City</dt>
                    <dd>@Html.DisplayFor(model => model.City)</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="mb-2">Postal Code</dt>
                    <dd>@Html.DisplayFor(model => model.PostalCode)</dd>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <dt class="mb-2">Street Address</dt>
                    <dd>@Html.DisplayFor(model => model.StreetAddress)</dd>
                </div>
            </div>

        </dl>

        <hr class="mt-2" />

        <h3>Pet Preferences</h3>
        <dd class="col-sm-10">


            <div class="d-flex align-items-start justify-content-between w-100">
                <div>
                    <h6> What type of pets do you accept?</h6>

                    <label for="SelectedPetTypes" class="control-label"></label>
                    <div class="pets">
                        @foreach (var petType in Model.PetTypesAvailable)
                        {
                            <input class="form-check-input" type="checkbox" name="SelectedPetTypes" value="@petType"
                            @(Model.SelectedPetTypes.Contains(petType) ? "checked" : "") disabled>
                            <label class="form-check-label">@petType</label>
                        }
                    </div>
                </div>

                <div>

                    <h6> What you want clients to pay per service:</h6>
                    <p>@Html.DisplayFor(model => model.RatePerPetPerDay)</p>
                </div>
            </div>



        </dd>




    </div>
</div>
<style>
    /* Header */
    .profile .header h3 {
        font-size: 24px;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .profile .header a {
        color: #2d86ff;
        text-decoration: none;
        margin-left: 5px;
    }

    /* Body */
    .profile .body {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

        .profile .body .row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .profile .body .pets {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .profile .body .row .image {
            width: 30%;
        }

        .profile .body h4 {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .profile .body hr {
            border: none;
            border-top: 2px solid #ccc;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .profile .body img {
            display: block;
            margin: 0 auto;
            width: 200px;
            border: 2px solid black;
            borderRadius: 50%;
            margin: 10px;
            padding: 5px;
        }

        .profile .body p {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .profile .body input {
            border: none;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding: 5px;
            width: auto;
        }

        .profile .body label {
            display: block;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .profile .body .form-group {
            margin-bottom: 20px;
            width: max-content;
        }

        .profile .body .text-danger {
            color: #f00;
        }

    .material-symbols-outlined {
        font-family: "Material Icons Outlined";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: "liga";
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: subpixel-antialiased;
    }
</style>

